.table-container {
    position: relative;
    overflow-x: auto;
}

th {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 6px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    background: transparent;
}

.resizer:hover,
.resizing .resizer {
    background: rgba(2, 6, 10, 0.5);
}

.resize-indicator {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: #007bff;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

.controls {
    margin: 20px 0;
}

/* Override Bootstrap's table-responsive to work better with resizable columns */
.table-responsive {
    overflow-x: auto;
    position: relative;
}


.bg_gray{
    background:red;
}