.table-container {
    position: relative;
    
}
.table-responsive {
    position: relative;
    overflow-x: auto;
    max-height: 80vh;
    max-width: 100%;
    scrollbar-width: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    position: relative;
}

th {
    position: sticky;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    z-index: 2;
    
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

tbody{
    position: relative;
    z-index: 1;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 6px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    background: transparent;
}

.resizer:hover,
.resizing .resizer {
    background: rgba(2, 6, 10, 0.5);
}

.resize-indicator {
    position: absolute;
    top: 0;
    width: 2px;
    height: 97%;
    background: gray;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

.collist{
    background-color: red;
}

.controls {
    margin: 20px 0;
}

/* Override Bootstrap's table-responsive to work better with resizable columns */
.table-responsive {
    overflow-x: auto;
    position: relative;
}


.bg_gray{
    background:red;
}



.icon-container {
    /* background-color: red; */
    right: 10px;
    top: 0;
    height: 100%;
    min-width: 50px;
    /* max-width: ; */
    position: absolute;
}
 
 
 
 
 
i {
    width: 20px;
    /* position: absolute; */
    left: 0;
}





/* font styles */
/* -----size------- */
.fs10
{
    font-size: 10px;
}
.fs15
{
    font-size: 15px;
}

.fs20
{
    font-size: 20px;
}
.fs25
{
    font-size: 25px;
}

/* -----font weight------ */

.fw300
{
    font-weight: 300;
}
.fw500{
    font-weight: 500;
}

.fw700{
    font-weight: 700;
}


/* margin */

.mt10{
    margin-top: 10px;
}
.ml10
{
    margin-left: 10px;
}
.mr10
{
    margin-right: 10px;
}
.mb10
{
    margin-bottom: 10px;
}


/* CURSOR POINTER */

.cursorp{
    cursor: pointer;
}



/* Width */

.wd100{
    width: 100%;
}

.wd75{
    width: 75%;
}
.wd50{
    width: 50%;
}
.wd30{
    width: 30%;
}

.wd25{
    width: 25%;
}

.wd20{
    width: 20%;
}
.wd10{
    width: 10%;
}

#navc{

}
/* add make flexdirection column on with 768px */

@media (max-width: 960px) {
    #navc{
        overflow-x: scroll;
        scrollbar-width: none;
    }
}